 <form method ="post" action ="">

    <select>Select your tenant
      <% @tenant.each do |tenant| %>
        <option value="<%=tenant.id%>"><%= tenant.name %></option>  
      <% end %>
    </select>
    <input type="submit" name="Submit" />

</form>